__pycache__/
*.pyc
.venv/
venv/
env/

reports/html/*
reports/allure-results/*
reports/allure-report/*
reports/junit/*
!reports/html/.gitkeep
!reports/allure-results/.gitkeep
!reports/allure-report/.gitkeep
!reports/junit/.gitkeep

screenshots/failures/*
!screenshots/failures/.gitkeep

logs/*.log

downloads/*
!downloads/.gitkeep
uploads/*
!uploads/.gitkeep

.env
*.env.local

.pytest_cache/
.vscode/
.idea/
scratch_explore/
